# <span style="color:purple">Etude de santé publique FAO</span>

## Identifiez les grandes tendances

Nous allons dans un premier temps charger les fichiers sources (.csv) dans des dataframes Python avec la librairie Pandas pour analyser rapidement leur contenu.

In [1]:
# Importation des librairies
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Chargement des .csv dans des Dataframes.
df_animaux = pd.read_csv('fr_animaux.csv')
df_cereales = pd.read_csv('fr_céréales.csv')
df_population = pd.read_csv('fr_population.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')

df_population.describe(include = "all")

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
count,175,175,175.000000,175,175.0,175,175.0,175,175.0,175.0,175,1.750000e+02,1,175
unique,1,1,NaN,175,NaN,1,NaN,1,NaN,NaN,1,NaN,1,2
top,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,NaN,Lituanie,NaN,Population totale,NaN,Population,NaN,NaN,1000 personnes,NaN,A,Donnée officielle
freq,175,175,NaN,1,NaN,175,NaN,175,NaN,NaN,175,NaN,1,174
mean,NaN,NaN,126.720000,NaN,511.0,NaN,2501.0,NaN,2013.0,2013.0,NaN,4.807996e+04,NaN,NaN
std,NaN,NaN,75.168519,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,1.786327e+05,NaN,NaN
min,NaN,NaN,1.000000,NaN,511.0,NaN,2501.0,NaN,2013.0,2013.0,NaN,5.400000e+01,NaN,NaN
25%,NaN,NaN,64.500000,NaN,511.0,NaN,2501.0,NaN,2013.0,2013.0,NaN,2.543500e+03,NaN,NaN
50%,NaN,NaN,121.000000,NaN,511.0,NaN,2501.0,NaN,2013.0,2013.0,NaN,9.413000e+03,NaN,NaN
75%,NaN,NaN,188.500000,NaN,511.0,NaN,2501.0,NaN,2013.0,2013.0,NaN,2.888150e+04,NaN,NaN
max,NaN,NaN,351.000000,NaN,511.0,NaN,2501.0,NaN,2013.0,2013.0,NaN,1.416667e+06,NaN,NaN

In [2]:
# Visualisation des premières données du dataframe population
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

### <span style="color:purple">Question 1 : donnez le résultat du calcul du nombre total d’humains sur la planète pour l'année 2013.</span>

In [3]:
# Vérification des valeurs contenues dans la colonne "Année"
df_population.Année.unique()

array([2013], dtype=int64)

Il n'y a bien que l'année 2013 dans la colonne année.
Nous pouvons donc réalisé une somme de la population pour normalement obtenir la population mondiale en 2013.

In [4]:
population_2013 = df_population['Valeur'].sum()
print('La population mondiale en 2013 est de', '{:,}'.format(population_2013*1000).replace(',', ' '), 'habitants.')

La population mondiale en 2013 est de 8 413 993 000 habitants.

Selon les sources diverses vérifiées sur ce lien (https://m-e-i.fr/blog/la-population-mondiale-au-1er-janvier-2013/#page-content), la population mondiale en 2013 était d'environ 7 083 000 000 habitant.

**Notre fichier csv fr_population doit donc contenir des anomalies qu'il va falloir analyser.**

En regardant de plus près la fonction **describe() sur le dataframe df_population** testé plus haut, on remarque que nous avons 2 "valeur unique" dans la colonne [Description du symbole] Il doit donc y avoir 2 types de données dans le tableau.

In [5]:
df_population['Description du Symbole'].unique()

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

In [6]:
# Table pivot pour vérifier la somme des valeurs de l'agrégat 
df_population.pivot_table('Valeur', index='Description du Symbole', columns='Symbole', aggfunc='sum')

Symbole                                                   A
Description du Symbole
Agrégat, peut inclure des données officielles, ...  1416667

**On conditionne donc la somme des populations en retirant l'agrégat pour obtenir la population mondiale 2013.**
_Volontairement, je ne supprime pas la ligne du Dataframe pour le moment car je ne sais pas encore si elle nous servira dans le reste des calculs._

In [7]:
population_2013 = (df_population[df_population.Symbole != 'A'].Valeur.sum() *1000)
print('La population mondiale en 2013 est de', '{:,}'.format(population_2013).replace(',', ' '), 'habitants.')

La population mondiale en 2013 est de 6 997 326 000 habitants.

### <span style="color:purple">Question 2 : Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique.</span>

C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données.

<span style="color:green">Disponibilité intérieur = Production + importations - exportations + variations des stocks = Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes</span>

In [8]:
# Création d'un dataframe "FRANCE / BLE" pour vérifier les données
df_ble_france = df_vegetaux[(df_vegetaux['Zone'] == 'France')  & (df_vegetaux['Produit'] == 'Blé')]
df_ble_france

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.00,S,Données standardisées
37488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.00,S,Données standardisées
37489,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.00,S,Données standardisées
37490,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.00,S,Données standardisées
37491,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.00,S,Données standardisées
37492,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.00,S,Données standardisées
37493,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.00,S,Données standardisées
37494,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.00,S,Données standardisées
37495,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.00,S,Données standardisées
37496,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5154,Autres utilisations (non alimentaire),2511,Blé,2013,2013,Milliers de tonnes,2824.00,S,Données standardisées
37497,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.00,S,Données standardisées
37498,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,2013,kg,108.43,Fc,Donnée calculée
37499,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,2013,Kcal/personne/jour,811.00,Fc,Donnée calculée
37500,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,2013,g/personne/jour,25.99,Fc,Donnée calculée
37501,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,684,Disponibilité de matière grasse en quantité (g...,2511,Blé,2013,2013,g/personne/jour,4.20,Fc,Donnée calculée

In [9]:
# Premier terme de l'équation : Disponibilité intérieure
df_ble_france[df_ble_france['Élément'] == 'Disponibilité intérieure'].Valeur

37491    20298.0
Name: Valeur, dtype: float64

In [10]:
# Second terme de l'équation
dispo_interieur = (int(df_ble_france[df_ble_france['Code Élément'] == 5511].Valeur) 
                   + int(df_ble_france[df_ble_france['Code Élément'] == 5611].Valeur) 
                   - int(df_ble_france[df_ble_france['Code Élément'] == 5911].Valeur) 
                   + int(df_ble_france[df_ble_france['Code Élément'] == 5072].Valeur))
dispo_interieur

20298

In [11]:
# Troisième terme de l'équation
dispo_interieur2 = (int(df_ble_france[df_ble_france['Code Élément'] == 5142].Valeur) 
                    + int(df_ble_france[df_ble_france['Code Élément'] == 5521].Valeur) 
                    + int(df_ble_france[df_ble_france['Code Élément'] == 5527].Valeur) 
                    + int(df_ble_france[df_ble_france['Code Élément'] == 5131].Valeur)
                    + int(df_ble_france[df_ble_france['Code Élément'] == 5154].Valeur)
                    + int(df_ble_france[df_ble_france['Code Élément'] == 5123].Valeur))
dispo_interieur2

20298

Les 3 termes sont donc bien égaux sur les données France / Blé, l'équation est vérifiée.

### <span style="color:purple">Question 3 : Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.</span>

Données à utiliser : 
- Population de chaque pays ;
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.
- Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [12]:
# Visualisation des noms d'attributs de chaque dataframe impliqué
print('Vegetaux', df_vegetaux.columns.tolist())
print('Animaux', df_animaux.columns.tolist())

Vegetaux ['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément', 'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité', 'Valeur', 'Symbole', 'Description du Symbole']
Animaux ['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément', 'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité', 'Valeur', 'Symbole', 'Description du Symbole']

In [13]:
# On ajoute une colonne origine à chaque DataFrame pour les différencier ensuite.
df_animaux['origine'] = 'Animal'
df_vegetaux['origine'] = 'Vegetal'

# les colonnes étant identiques, on étend le DataFrame Animaux avec le Vegétaux
df_bilan_alimentaire = df_animaux.append(df_vegetaux)
df_bilan_alimentaire.sample(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,origine
9877,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,54,Danemark,674,Disponibilité de protéines en quantité (g/pers...,2762,Perciform,2013,2013,g/personne/jour,2.06,Fc,Donnée calculée,Animal
86782,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,189,Sainte-Lucie,5154,Autres utilisations (non alimentaire),2578,Huile de Coco,2013,2013,Milliers de tonnes,0.00,S,Données standardisées,Vegetal
48526,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,103,Iraq,664,Disponibilité alimentaire (Kcal/personne/jour),2577,Huile de Palme,2013,2013,Kcal/personne/jour,129.00,Fc,Donnée calculée,Vegetal
80406,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,174,Portugal,5911,Exportations - Quantité,2571,Huile de Soja,2013,2013,Milliers de tonnes,59.00,S,Données standardisées,Vegetal
2017,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,1,Arménie,664,Disponibilité alimentaire (Kcal/personne/jour),2766,Cephalopodes,2013,2013,Kcal/personne/jour,0.00,Fc,Donnée calculée,Animal

In [14]:
# Jointure sur le Code zone avec la table population
df_bilan_alimentaire = pd.merge(df_bilan_alimentaire, df_population, on = 'Code zone')
df_bilan_alimentaire.columns

Index(['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Code année_x', 'Année_x',
       'Unité_x', 'Valeur_x', 'Symbole_x', 'Description du Symbole_x',
       'origine', 'Code Domaine_y', 'Domaine_y', 'Zone_y', 'Code Élément_y',
       'Élément_y', 'Code Produit_y', 'Produit_y', 'Code année_y', 'Année_y',
       'Unité_y', 'Valeur_y', 'Symbole_y', 'Description du Symbole_y'],
      dtype='object')

In [15]:
# On recréé un DataFrame avec uniquement les colonnes nécessaires
df_bilan_alimentaire = df_bilan_alimentaire[['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Année_x',
       'Unité_x', 'Valeur_x','origine', 'Valeur_y']]

In [16]:
# Puis on renomme les colonnes pour plus de clareté
df_bilan_alimentaire = df_bilan_alimentaire.rename(columns = {'Code Domaine_x':'Code Domaine', 'Domaine_x':'Domaine', 
                                                             'Zone_x':'Zone', 'Code Élément_x':'Code Élément', 
                                                             'Élément_x':'Élément', 'Code Produit_x':'Code Produit',
                                                             'Produit_x':'Produit', 'Année_x':'Année', 'Unité_x':'Unité',
                                                             'Valeur_x':'Valeur', 'Valeur_y':'Population'})
df_bilan_alimentaire .head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Année,Unité,Valeur,origine,Population
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,Milliers de tonnes,134.00,Animal,30552
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,Milliers de tonnes,6.00,Animal,30552
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,Animal,30552
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,Animal,30552
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,kg,4.59,Animal,30552

In [17]:
# On créé un pivot avec les éléments en colonne pour plus de clareté et pour faciliter les calculs
df_bilan_alimentaire = df_bilan_alimentaire.pivot_table(index = ['Code zone','Zone','Code Produit','Produit','Année','origine','Population'],
                                                       columns = 'Élément', values = 'Valeur', aggfunc = sum).reset_index()

In [18]:
df_bilan_alimentaire.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,2013,Vegetal,2977,93.0,0.0,1024.0,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,Vegetal,2977,137.0,26.0,0.0,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,Vegetal,2977,96.0,NaN,0.0,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,Vegetal,2977,1.0,NaN,1.0,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,Vegetal,2977,4.0,NaN,2.0,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

In [19]:
# Calculs des disponibilités alimentaires totales par produit pour chaque pays, en Kcal et en Kg
df_bilan_alimentaire['Disponibilité alimentaire totale (Kcal)'] = ((df_bilan_alimentaire['Population'] * 1000)
                                                                    * df_bilan_alimentaire['Disponibilité alimentaire (Kcal/personne/jour)']
                                                                    * 365)


df_bilan_alimentaire['Disponibilité alimentaire protéines totale (Kg)'] = ((df_bilan_alimentaire['Population'] * 1000)
                                                                    * (df_bilan_alimentaire['Disponibilité de protéines en quantité (g/personne/jour)']/1000)
                                                                    * 365)

df_bilan_alimentaire.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg)
0,1,Arménie,2511,Blé,2013,Vegetal,2977,93.0,0.0,1024.0,...,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1.112684e+12,33163184.60
1,1,Arménie,2513,Orge,2013,Vegetal,2977,137.0,26.0,0.0,...,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,0.000000e+00,0.00
2,1,Arménie,2514,Maïs,2013,Vegetal,2977,96.0,NaN,0.0,...,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,0.000000e+00,10866.05
3,1,Arménie,2515,Seigle,2013,Vegetal,2977,1.0,NaN,1.0,...,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1.086605e+09,21732.10
4,1,Arménie,2516,Avoine,2013,Vegetal,2977,4.0,NaN,2.0,...,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2.173210e+09,97794.45

### <span style="color:purple">Question 4 : calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg.</span>

In [20]:
# On supprime du DataFrame les valeurs des Provinces de Chine pour éviter les doublons (cf Question 1)
df_bilan_alimentaire.drop(df_bilan_alimentaire[df_bilan_alimentaire.Zone.str.startswith("Chine,") == True].index, inplace=True)
df_bilan_alimentaire.drop(df_bilan_alimentaire[df_bilan_alimentaire.Zone.str.startswith("Chine -") == True].index, inplace=True)

In [21]:
# Ecriture de l'équation inverse de celle de l'énoncé pour retrouver le ratio utilisé par la FAO.
df_bilan_alimentaire['Ratio énergie/poids (kcal/kg)'] = (df_bilan_alimentaire['Disponibilité alimentaire totale (Kcal)']
                                                        / (df_bilan_alimentaire['Nourriture'] * 1000000))

Vérification de la valeur calorique d'un Oeuf par exemple sur ce lien https://fr.wikipedia.org/wiki/%C5%92uf_(aliment)
147 Kcal pour 100 G soit **1470 Kcal / Kg**

In [22]:
# Vérification
df_bilan_alimentaire[df_bilan_alimentaire['Produit'] == 'Oeufs'].head()

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg)
74,1,Arménie,2744,Oeufs,2013,Animal,2977,NaN,0.0,45.0,...,1.0,35.0,NaN,34.0,0.0,NaN,NaN,4.889722e+10,3727055.15,1397.063571
144,2,Afghanistan,2744,Oeufs,2013,Animal,30552,NaN,NaN,5.0,...,29.0,40.0,5.0,18.0,2.0,NaN,NaN,5.575740e+10,4237562.40,1393.935000
226,3,Albanie,2744,Oeufs,2013,Animal,3173,NaN,NaN,46.0,...,0.0,40.0,7.0,48.0,0.0,NaN,NaN,5.327467e+10,4227229.25,1331.866750
319,4,Algérie,2744,Oeufs,2013,Animal,39208,NaN,NaN,27.0,...,0.0,316.0,10.0,347.0,21.0,NaN,NaN,3.863948e+11,32915116.00,1222.768481
400,7,Angola,2744,Oeufs,2013,Animal,21472,NaN,NaN,4.0,...,24.0,24.0,2.0,5.0,3.0,NaN,NaN,3.134912e+10,2586302.40,1306.213333

<span style="color:purple">**Question 4 partie 2 : calculez le pourcentage de protéines de chaque produit (pour chaque pays).**</span>

In [23]:
# Ratio du poids de protéines sur le poids total, les 2 en KG (*100 pour obtenir un pourcentage)
df_bilan_alimentaire['Pourcentage de protéines produit'] = (df_bilan_alimentaire['Disponibilité alimentaire protéines totale (Kg)']
                                                            / (df_bilan_alimentaire['Nourriture'] * 1000000))*100

In [24]:
df_bilan_alimentaire[df_bilan_alimentaire['Produit'] == 'Avoine']

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
4,1,Arménie,2516,Avoine,2013,Vegetal,2977,4.0,NaN,2.0,...,1.0,0.0,5.0,0.0,NaN,NaN,2.173210e+09,97794.45,2173.210000,9.779445
154,3,Albanie,2516,Avoine,2013,Vegetal,3173,25.0,NaN,1.0,...,0.0,1.0,27.0,1.0,NaN,NaN,1.158145e+09,34744.35,inf,inf
246,4,Algérie,2516,Avoine,2013,Vegetal,39208,107.0,NaN,0.0,...,0.0,6.0,113.0,8.0,NaN,0.0,0.000000e+00,0.00,NaN,NaN
338,7,Angola,2516,Avoine,2013,Vegetal,21472,0.0,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.000000e+00,0.00,NaN,NaN
419,8,Antigua-et-Barbuda,2516,Avoine,2013,Vegetal,90,0.0,NaN,15.0,...,0.0,NaN,NaN,NaN,NaN,0.0,4.927500e+08,21024.00,inf,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15251,256,Luxembourg,2516,Avoine,2013,Vegetal,530,3.0,NaN,9.0,...,1.0,NaN,6.0,0.0,NaN,0.0,1.741050e+09,71576.50,1741.050000,7.157650
15344,272,Serbie,2516,Avoine,2013,Vegetal,9511,84.0,NaN,1.0,...,1.0,1.0,88.0,4.0,NaN,NaN,3.471515e+09,138860.60,3471.515000,13.886060
15436,273,Monténégro,2516,Avoine,2013,Vegetal,621,1.0,NaN,0.0,...,0.0,0.0,1.0,0.0,NaN,NaN,0.000000e+00,NaN,NaN,NaN
15524,276,Soudan,2516,Avoine,2013,Vegetal,37964,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
15609,351,Chine,2516,Avoine,2013,Vegetal,1416667,500.0,NaN,1.0,...,215.0,30.0,614.0,17.0,NaN,0.0,5.170835e+11,15512503.65,2405.039326,7.215118

### <span style="color:purple">Question 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.</span>

In [25]:
# Nettoyage des inf et NaN dans le DataFrame en les plaçant à 0
df_bilan_alimentaire.loc[~np.isfinite(df_bilan_alimentaire['Ratio énergie/poids (kcal/kg)']), 'Ratio énergie/poids (kcal/kg)'] = 0
df_bilan_alimentaire.loc[~np.isfinite(df_bilan_alimentaire['Pourcentage de protéines produit']), 'Pourcentage de protéines produit'] = 0
df_bilan_alimentaire['Ratio énergie/poids (kcal/kg)'].fillna(0)
df_bilan_alimentaire['Pourcentage de protéines produit'].fillna(0)

0        8.525240
1        0.000000
2        0.000000
3        0.000000
4        9.779445
           ...
15697    0.000000
15698    0.000000
15699    6.819045
15700    3.431897
15701    0.000000
Name: Pourcentage de protéines produit, Length: 15325, dtype: float64

In [26]:
# On créé un nouveau DataFrame avec uniquement les valaurs supérieur à 0
df_top_calorique = df_bilan_alimentaire[df_bilan_alimentaire['Ratio énergie/poids (kcal/kg)'] > 0]

# Puis on applique un group by sur le Produit avant de le trier par valeur de ratio décroissant.
df_top_calorique = df_top_calorique.groupby('Produit').mean().reset_index()

In [27]:
# On créé une fonction pour appeler les différents Tops
def affichage_top(dfTop, filtreTop, volumeTop):
    dfTop.sort_values(by=[filtreTop], inplace=True, ascending=False)
    return dfTop.head(volumeTop)

In [28]:
# On affiche le top 20 pour séléctionner les 5 premiers ensuite
affichage_top(df_top_calorique,'Ratio énergie/poids (kcal/kg)',20)

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
43,Huiles de Foie de Poisso,193.000000,2782.0,2013.0,20410.500000,NaN,0.000000,10.000000,0.390000,1.070000,...,5.000000,NaN,0.000000,NaN,NaN,0.000000,4.732334e+10,0.000000e+00,9982.932500,0.000000
40,Huile de Son de Riz,145.000000,2581.0,2013.0,288928.750000,NaN,66.000000,7.916667,0.327500,0.880833,...,70.166667,NaN,89.333333,NaN,NaN,-16.500000,5.939818e+11,4.640756e+05,9379.568137,0.057721
41,Huile de Sésame,126.424242,2579.0,2013.0,124474.696970,NaN,57.200000,9.393939,0.385455,1.058485,...,21.484848,NaN,32.935484,NaN,1.000000,0.000000,1.934074e+11,0.000000e+00,9314.546692,0.000000
44,Huiles de Poissons,77.333333,2781.0,2013.0,65684.666667,21.50,4.000000,34.000000,1.380000,3.780000,...,22.333333,NaN,39.666667,NaN,NaN,0.000000,2.012756e+11,0.000000e+00,9003.715504,0.000000
32,Huile d'Arachide,132.824324,2572.0,2013.0,74404.256757,NaN,50.043478,26.337838,1.088108,2.980270,...,51.878378,0.500000,70.281690,NaN,0.000000,-0.761905,4.554803e+11,5.789943e+03,8925.582634,0.013692
36,Huile de Germe de Maïs,134.813333,2582.0,2013.0,57284.453333,NaN,6.727273,20.266667,0.839600,2.287333,...,29.213333,1.666667,51.000000,NaN,0.000000,1.882353,2.593758e+11,3.993465e+04,8914.635341,0.019986
33,Huile d'Olive,129.277108,2580.0,2013.0,48495.855422,0.00,6.367347,28.638554,1.183012,3.241084,...,33.180723,NaN,126.571429,NaN,NaN,-10.240000,2.947487e+11,0.000000e+00,8891.111102,0.000000
30,Huil Plantes Oleif Autr,133.307692,2586.0,2013.0,47433.128205,0.00,30.327586,21.786325,0.934444,2.466752,...,14.914530,0.200000,43.095238,NaN,6.186047,1.815534,1.224273e+11,5.202173e+04,8867.128294,0.559229
38,Huile de Palmistes,143.229167,2576.0,2013.0,80404.208333,NaN,141.347826,15.333333,0.640625,1.742083,...,40.083333,8.666667,211.966667,NaN,0.000000,1.565217,3.553004e+11,7.863991e+04,8797.863661,0.069823
31,Huile Graines de Coton,135.476190,2575.0,2013.0,85229.000000,NaN,33.548387,21.333333,0.888571,2.412857,...,62.523810,2.000000,85.728814,NaN,0.000000,0.369565,5.388057e+11,1.602801e+05,8743.068709,0.062696
37,Huile de Palme,130.673077,2577.0,2013.0,56546.567308,0.00,279.884615,85.230769,3.537500,9.631154,...,146.288462,42.428571,1410.736842,NaN,0.333333,-13.113636,1.277747e+12,3.821988e+05,8719.497538,0.137376
42,Huile de Tournesol,130.795082,2573.0,2013.0,50378.483607,NaN,46.070423,75.098361,3.102705,8.490492,...,83.549180,2.000000,172.949367,NaN,0.076923,2.063830,7.354051e+11,2.098927e+05,8676.050458,0.044378
39,Huile de Soja,126.824427,2571.0,2013.0,51379.015267,2.75,253.043478,79.236641,3.294885,8.951756,...,185.786260,37.000000,489.965517,NaN,0.000000,0.438596,1.604981e+12,7.618890e+05,8648.531981,0.061214
35,Huile de Colza&Moutarde,133.703125,2574.0,2013.0,79443.718750,700.00,292.023810,61.718750,2.573438,6.977031,...,153.171875,1.500000,508.260870,NaN,0.142857,1.229167,1.338730e+12,2.212984e+05,8625.014786,0.104638
34,Huile de Coco,139.211268,2578.0,2013.0,77983.901408,NaN,20.230769,20.957746,0.868028,2.366761,...,28.408451,0.500000,58.148148,NaN,0.000000,5.175000,2.446629e+11,8.720215e+04,8536.524516,0.135814
28,Graisses Animales Crue,129.683099,2737.0,2013.0,49003.422535,155.60,78.569343,45.443662,2.289296,5.043310,...,73.183099,7.333333,163.704225,NaN,6.289474,1.352381,5.201622e+11,4.660461e+05,7603.648814,1.223827
9,"Beurre, Ghee",128.968504,2740.0,2013.0,52794.354331,1.00,1.458333,31.905512,1.599134,3.608898,...,76.519685,22.750000,89.568807,NaN,NaN,1.553571,6.004481e+11,5.010732e+05,7346.551064,0.708536
60,Palmistes,39.000000,2562.0,2013.0,13351.000000,NaN,NaN,8.000000,0.500000,0.500000,...,3.000000,4.000000,33.500000,NaN,57.000000,0.000000,1.623776e+10,0.000000e+00,6496.635000,0.000000
84,Sésame,133.776119,2561.0,2013.0,79063.746269,NaN,6.333333,10.522388,0.667463,0.920746,...,21.373134,3.857143,80.387755,1.651163,80.481481,-6.638889,1.194268e+11,3.727087e+06,5819.781625,17.584564
5,Arachides Decortiquees,131.172932,2556.0,2013.0,48401.172932,1.00,79.062500,25.714286,1.700977,2.132857,...,91.669173,15.913580,345.879121,15.851852,164.259259,-24.259259,4.872190e+11,2.108807e+07,5706.928520,25.180390

**Réponse à la question 5 :**

Les 5 aliments les plus nutritifs parmis le top 20, en fonction du ratio énergie / poids sont :
1. <span style="color:green">Huiles de Foie de Poisson</span>
1. <span style="color:green">Huile de Son de Riz</span>
1. <span style="color:green">Huile de Sésame</span></span>
1. <span style="color:green">Huiles de Poissons</span>
1. <span style="color:green">Huile d'Arachide</span>

In [29]:
# Pour les 5 aliments les plus riches en protéines
affichage_top(df_top_calorique,'Pourcentage de protéines produit',20)

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
78,Soja,125.859649,2555.0,2013.0,83396.684211,698.000000,50.500000,16.175439,1.734386,0.711053,...,185.947368,53.093750,2411.750000,72.878049,3510.171429,-35.500000,6.322670e+11,6.025331e+07,3311.134447,33.134374
5,Arachides Decortiquees,131.172932,2556.0,2013.0,48401.172932,1.000000,79.062500,25.714286,1.700977,2.132857,...,91.669173,15.913580,345.879121,15.851852,164.259259,-24.259259,4.872190e+11,2.108807e+07,5706.928520,25.180390
67,Pois,136.577982,2547.0,2013.0,55738.880734,94.200000,5.600000,12.146789,1.298165,0.060000,...,53.412844,6.307692,140.024691,12.575758,0.000000,-10.775862,1.780572e+11,1.188242e+07,3475.637480,22.287650
48,Légumineuses Autres,128.897638,2549.0,2013.0,52003.299213,100.317460,40.800000,37.637795,4.016614,0.255118,...,214.267717,16.637168,324.741379,17.216216,0.000000,1.698925,7.424157e+11,4.526852e+07,3426.751230,21.870861
29,Haricots,130.926230,2546.0,2013.0,52552.024590,90.615385,9.833333,35.491803,3.829836,0.161393,...,142.737705,13.139785,217.796117,12.463918,NaN,3.800000,4.849057e+11,3.079305e+07,3424.794082,21.700177
84,Sésame,133.776119,2561.0,2013.0,79063.746269,NaN,6.333333,10.522388,0.667463,0.920746,...,21.373134,3.857143,80.387755,1.651163,80.481481,-6.638889,1.194268e+11,3.727087e+06,5819.781625,17.584564
0,Abats Comestible,129.278481,2736.0,2013.0,44270.183544,45.863636,16.627451,8.398734,2.687595,0.250316,...,99.170886,3.476190,117.664557,NaN,NaN,0.500000,1.111792e+11,1.769276e+07,1130.422533,17.558732
66,"Plantes Oleiferes, Autre",140.187500,2570.0,2013.0,34821.937500,11.625000,4.080000,8.000000,0.756250,0.609063,...,30.156250,5.800000,114.750000,4.818182,69.652174,0.695652,1.064965e+11,6.231623e+06,4350.089305,17.528083
91,"Viande, Autre",136.945946,2735.0,2013.0,37969.135135,5.250000,1.363636,9.072072,2.684595,0.387117,...,58.972973,4.000000,56.224299,NaN,0.388889,0.019608,7.236932e+10,1.047986e+07,1294.463333,17.427852
2,Aliments pour enfants,128.555556,2680.0,2013.0,35834.135802,NaN,NaN,5.580247,0.549877,0.043951,...,9.049383,0.500000,NaN,NaN,NaN,0.000000,3.383901e+10,1.380839e+06,3670.050309,14.874329
88,Viande de Bovins,126.994048,2731.0,2013.0,41648.363095,3.000000,2.666667,51.279762,11.305476,3.571369,...,388.190476,18.520000,404.467066,NaN,-0.633333,0.295918,6.021780e+11,5.375913e+07,1685.444556,14.374246
15,Cephalopodes,138.951220,2766.0,2013.0,76818.878049,6.250000,0.560976,2.780488,1.325610,0.035122,...,83.341463,NaN,94.947368,0.000000,NaN,1.200000,6.780192e+10,1.184819e+07,858.523953,13.858283
87,Viande d'Ovins/Caprins,128.898649,2732.0,2013.0,46104.290541,9.000000,4.200000,20.418919,3.448378,1.657770,...,90.425676,3.300000,92.748299,NaN,NaN,0.000000,1.862308e+11,1.247221e+07,1987.376864,13.550801
90,Viande de Volailles,126.883041,2734.0,2013.0,40920.035088,0.000000,33.131579,73.479532,20.204386,4.823333,...,613.274854,38.500000,642.136095,NaN,12.810811,0.684211,8.777017e+11,7.704491e+07,1299.811793,12.626174
64,Piments,142.397436,2641.0,2013.0,74362.923077,NaN,85.000000,7.500000,0.890000,0.360128,...,40.153846,3.970588,60.625000,NaN,NaN,0.000000,1.168940e+11,4.920790e+06,3355.349012,12.208448
70,Poissons Pelagiques,123.026316,2763.0,2013.0,42708.296053,136.137681,2.289474,19.723684,7.913882,0.904342,...,142.473684,NaN,292.520000,18.625000,NaN,-10.680000,1.377146e+11,1.907226e+07,932.811724,12.029153
69,"Poissons Marins, Autres",123.921053,2764.0,2013.0,45403.526316,28.388889,1.473684,6.780702,3.637982,0.226316,...,75.929825,NaN,107.526316,1.666667,NaN,0.344828,5.475085e+10,8.469034e+06,776.097014,11.282634
27,Graines de tournesol,138.043478,2557.0,2013.0,32342.086957,94.166667,0.000000,5.086957,0.622609,0.394348,...,23.434783,22.000000,427.800000,5.928571,280.615385,-40.636364,6.925534e+10,2.435136e+06,3223.703699,10.823668
93,"Épices, Autres",129.972973,2645.0,2013.0,58770.594595,NaN,20.111111,7.126126,0.752703,0.256577,...,46.018018,9.100000,77.914286,NaN,NaN,-0.162162,1.506672e+11,4.921370e+06,3492.904538,10.710053
55,Oeufs,127.222892,2744.0,2013.0,42149.506024,12.166667,27.806452,26.753012,7.071325,1.863855,...,387.542169,23.909091,449.951220,30.060976,0.000000,0.363636,5.523696e+11,4.299087e+07,1343.440349,10.547334

Les 5 aliments les plus riches en protéines parmis le top 20, sont :
1. <span style="color:green">Soja</span>
1. <span style="color:green">Arachides Decortiquees</span>
1. <span style="color:green">Pois</span></span>
1. <span style="color:green">Légumineuses Autres</span>
1. <span style="color:green">Haricots</span>

### <span style="color:purple">Question 6 : Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.</span>

In [30]:
# Création d'un nouveau DataFrame contenant uniquement les végétaux
df_dispo_interieure_vegetaux = df_bilan_alimentaire[df_bilan_alimentaire['origine'] == 'Vegetal']

In [31]:
# Calcul pour chaque ligne de la disponibilité intérieure en Kcal
df_dispo_interieure_vegetaux['Disponibilité intérieure (Kcal)'] = ((df_dispo_interieure_vegetaux['Disponibilité intérieure'] * 1000000)
                                                                  * df_dispo_interieure_vegetaux['Ratio énergie/poids (kcal/kg)'])

# Ajout d'une nouvelle colonne au dataframe df_dispo_interieure_vegetaux pour le calcul en protéines 
df_dispo_interieure_vegetaux['Disponibilité intérieure (Kg de protéines)'] = ((df_dispo_interieure_vegetaux['Disponibilité intérieure'] * 1000000)
                                                                             * (df_dispo_interieure_vegetaux['Pourcentage de protéines produit'] / 100))
df_dispo_interieure_vegetaux.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Disponibilité intérieure (Kcal),Disponibilité intérieure (Kg de protéines)
0,1,Arménie,2511,Blé,2013,Vegetal,2977,93.0,0.0,1024.0,...,312.0,30.0,10.0,-118.0,1.112684e+12,33163184.60,2860.368946,8.525240,1.584644e+12,4.722983e+07
1,1,Arménie,2513,Orge,2013,Vegetal,2977,137.0,26.0,0.0,...,189.0,14.0,7.0,0.0,0.000000e+00,0.00,0.000000,0.000000,0.000000e+00,0.000000e+00
2,1,Arménie,2514,Maïs,2013,Vegetal,2977,96.0,NaN,0.0,...,21.0,0.0,NaN,NaN,0.000000e+00,10866.05,0.000000,0.000000,0.000000e+00,0.000000e+00
3,1,Arménie,2515,Seigle,2013,Vegetal,2977,1.0,NaN,1.0,...,1.0,0.0,NaN,0.0,1.086605e+09,21732.10,0.000000,0.000000,0.000000e+00,0.000000e+00
4,1,Arménie,2516,Avoine,2013,Vegetal,2977,4.0,NaN,2.0,...,5.0,0.0,NaN,NaN,2.173210e+09,97794.45,2173.210000,9.779445,1.303926e+10,5.867667e+05

In [32]:
# Aggrégation par produit avec somme pour visualiser les résultats mondiaux par produit.
df_dispo_interieure_vegetaux_produits = df_dispo_interieure_vegetaux.groupby(by = 'Produit').sum().reset_index()

In [33]:
df_dispo_interieure_vegetaux_produits.head()

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Disponibilité intérieure (Kcal),Disponibilité intérieure (Kg de protéines)
0,"Agrumes, Autres",19988,410398,316041,6827946,0.0,25.0,126.0,205.58,0.77,...,11758.0,0.0,72.0,46.0,2.479442e+12,5.225693e+07,8943.683514,20.401572,2.664034e+12,5.680087e+07
1,"Alcool, non Comestible",19983,417463,316041,6740769,0.0,21768.0,0.0,0.00,0.00,...,20763.0,0.0,0.0,950.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
2,Aliments pour enfants,21251,450240,338184,6962149,0.0,0.0,604.0,60.36,4.68,...,0.0,0.0,0.0,8.0,2.763215e+12,1.168921e+08,297274.074990,1363.208038,2.744877e+12,1.157656e+08
3,Ananas,20990,431970,332145,6859134,0.0,3.0,640.0,634.04,1.81,...,24274.0,0.0,8.0,349.0,6.963713e+12,5.419632e+07,51974.763617,32.692548,7.813168e+12,6.036579e+07
4,Arachides Decortiquees,21244,426852,336171,6934565,1.0,1265.0,3597.0,237.45,298.88,...,31919.0,1295.0,13620.0,-1965.0,6.482644e+13,2.808536e+09,759021.493185,3396.232069,1.563723e+14,6.772454e+09

In [34]:
# Réponse à la question 6
dispo_int_modiale_veg_kcal = df_dispo_interieure_vegetaux_produits['Disponibilité intérieure (Kcal)'].sum()
print('La disponibilité intérieure Mondiale de l\'ensemble des végétaux est donc de',
      '{:,}'.format(int(dispo_int_modiale_veg_kcal)).replace(',', ' '),
      'Kcal.')

La disponibilité intérieure Mondiale de l'ensemble des végétaux est donc de 12 306 826 632 342 440 Kcal.

### <span style="color:purple">Question 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ?</span>

En références aux données du FAO _(http://www.fao.org/3/y5740f/y5740f0f.htm)_ , considérant que la population serait également répartie à 50% hommes et 50 femmes, les apports journaliers recommandé **moyens** seraient de **2 500 Kcal** par jour et par individu.

In [35]:
ajr_moyen = 2500
ajr_moyen_an = ajr_moyen * 365

# Calcul du nombre de personnes pouvant être nourris avec cette disponibilité intérieure
population_nourrie_kcal = dispo_int_modiale_veg_kcal/ajr_moyen_an
print('{:,}'.format(int(population_nourrie_kcal)).replace(',', ' '),
      'personnes pouvant être nourris avec cette disponibilité intérieure')

13 486 933 295 personnes pouvant être nourris avec cette disponibilité intérieure

In [36]:
# Soit, en % de la population mondiale
print('Soit','{:,}'.format((population_nourrie_kcal / population_2013)*100).replace(',', ' '),
      '% de la population mondiale en 2013.')

Soit 192.74410390080072 % de la population mondiale en 2013.

In [37]:
# Calcul de la disponibilité intérieure mondiale en Kg de protéines 
dispo_int_modiale_veg_kg_prot = df_dispo_interieure_vegetaux_produits['Disponibilité intérieure (Kg de protéines)'].sum()
print('La disponibilité intérieure Mondiale de l\'ensemble des végétaux est donc de',
      '{:,}'.format(int(dispo_int_modiale_veg_kg_prot)).replace(',', ' '),
      'Kg de protéines.')

La disponibilité intérieure Mondiale de l'ensemble des végétaux est donc de 289 882 889 080 Kg de protéines.

Toujours selon la même source, les AJR **moyens** en protéines sont de **45g** par jour et par individu.

In [38]:
ajr_prot_an = (45/1000)*365
# Calcul du nombre de personnes pouvant être nourris avec cette disponibilité intérieure
population_nourrie_kg_prot = dispo_int_modiale_veg_kg_prot/ajr_prot_an
print('{:,}'.format(int(population_nourrie_kg_prot)).replace(',', ' '),
      'personnes pouvant être nourris avec cette disponibilité intérieure',
      ', soit','{:,}'.format((population_nourrie_kg_prot / population_2013)*100).replace(',', ' '),
      '% de la population mondiale en 2013.')

17 648 882 135 personnes pouvant être nourris avec cette disponibilité intérieure , soit 252.2232369305198 % de la population mondiale en 2013.

In [39]:
# Création d'une fonction pour répondre au prochaines questions basées sur le même schéma
def calculs_populations (donnee_kcal, donnee_kg_prot):
    d_ajr_energetique_an = 2500 * 365
    d_ajr_proteines_an = (45/1000)*365
    
    d_pop_nourrie_kcal = (donnee_kcal / d_ajr_energetique_an)
    d_pop_nourrie_prot_kg = (donnee_kg_prot / d_ajr_proteines_an)
    
    print_calc_pop = pd.DataFrame({'Nombre d\'habitants nourris' : [d_pop_nourrie_kcal, d_pop_nourrie_prot_kg],
                         '% de la population nourris' : [(d_pop_nourrie_kcal / population_2013)*100, 
                                                (d_pop_nourrie_prot_kg / population_2013)*100]},
                        index = ['Basé dur la dispo en Kcal', 'Basé dur la dispo en Kg de protéines'])
    return print_calc_pop

In [40]:
calculs_populations(dispo_int_modiale_veg_kcal,dispo_int_modiale_veg_kg_prot)

,Nombre d'habitants nourris,% de la population nourris
Basé dur la dispo en Kcal,1.348693e+10,192.744104
Basé dur la dispo en Kg de protéines,1.764888e+10,252.223237

### <span style="color:purple">Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ?</span>

In [41]:
#Ajout de 2 colonnes au dataframe df_dispo_interieure_vegetaux pour les calculs Q8
df_dispo_interieure_vegetaux['Dispo Alimentaire Q8 (Kcal)'] = ((df_dispo_interieure_vegetaux['Disponibilité alimentaire totale (Kcal)'])
                                                               + ((df_dispo_interieure_vegetaux['Aliments pour animaux'] * 1000000) 
                                                                  * df_dispo_interieure_vegetaux['Ratio énergie/poids (kcal/kg)'])
                                                               + ((df_dispo_interieure_vegetaux['Pertes'] * 1000000) 
                                                                  * df_dispo_interieure_vegetaux['Ratio énergie/poids (kcal/kg)'])
                                                              )

df_dispo_interieure_vegetaux['Dispo Alimentaire protéines Q8 (Kg)'] = (df_dispo_interieure_vegetaux['Disponibilité alimentaire protéines totale (Kg)']
                                                                      + (((df_dispo_interieure_vegetaux['Aliments pour animaux'] 
                                                                         + df_dispo_interieure_vegetaux['Pertes']) * 1000000)
                                                                       * (df_dispo_interieure_vegetaux['Pourcentage de protéines produit']/100))
                                                                      )
df_dispo_interieure_vegetaux.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Disponibilité intérieure (Kcal),Disponibilité intérieure (Kg de protéines),Dispo Alimentaire Q8 (Kcal),Dispo Alimentaire protéines Q8 (Kg)
0,1,Arménie,2511,Blé,2013,Vegetal,2977,93.0,0.0,1024.0,...,10.0,-118.0,1.112684e+12,33163184.60,2860.368946,8.525240,1.584644e+12,4.722983e+07,1.470230e+12,4.381973e+07
1,1,Arménie,2513,Orge,2013,Vegetal,2977,137.0,26.0,0.0,...,7.0,0.0,0.000000e+00,0.00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,1,Arménie,2514,Maïs,2013,Vegetal,2977,96.0,NaN,0.0,...,NaN,NaN,0.000000e+00,10866.05,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.086605e+04
3,1,Arménie,2515,Seigle,2013,Vegetal,2977,1.0,NaN,1.0,...,NaN,0.0,1.086605e+09,21732.10,0.000000,0.000000,0.000000e+00,0.000000e+00,1.086605e+09,2.173210e+04
4,1,Arménie,2516,Avoine,2013,Vegetal,2977,4.0,NaN,2.0,...,NaN,NaN,2.173210e+09,97794.45,2173.210000,9.779445,1.303926e+10,5.867667e+05,1.086605e+10,4.889722e+05

In [42]:
# Aggrégation par produit avec somme pour visualiser les résultats mondiaux par produit.
df_dispo_alimentaire_vegetaux_produits = df_dispo_interieure_vegetaux.groupby(by = 'Produit').sum().reset_index()

In [43]:
# On calcul les sommes au niveau mondiale
dispo_alim_modiale_veg_kcal = df_dispo_alimentaire_vegetaux_produits['Dispo Alimentaire Q8 (Kcal)'].sum()
dispo_alim_modiale_veg_prot_kg = df_dispo_alimentaire_vegetaux_produits['Dispo Alimentaire protéines Q8 (Kg)'].sum()

In [44]:
# Appel à la fonction pour affichage des résultats
calculs_populations(dispo_alim_modiale_veg_kcal,dispo_alim_modiale_veg_prot_kg)

,Nombre d'habitants nourris,% de la population nourris
Basé dur la dispo en Kcal,6.743923e+09,96.378569
Basé dur la dispo en Kg de protéines,9.789224e+09,139.899492

**6 743 922 643 personnes** pouvant être nourris avec cette disponibilité étendue en Kcal, soit **96.37 % de la population** mondiale en 2013.

**9 789 223 551 personnes** pouvant être nourris avec cette disponibilité étendue en kg de protéines, soit **139.90 % de la population** mondiale en 2013.

### <span style="color:purple">Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ?</span>

In [45]:
# Sommes des disponibilités alimentaires dans les 2 unitées pour animaux et végétaux
dispo_alimentaire_mondiale_globale_kcal = df_bilan_alimentaire['Disponibilité alimentaire totale (Kcal)'].sum()
dispo_alimentaire_mondiale_globale_prot_kg = df_bilan_alimentaire['Disponibilité alimentaire protéines totale (Kg)'].sum()

# Appel à la fonction pour affichage des résultats
calculs_populations(dispo_alimentaire_mondiale_globale_kcal,dispo_alimentaire_mondiale_globale_prot_kg)

,Nombre d'habitants nourris,% de la population nourris
Basé dur la dispo en Kcal,8.070616e+09,115.338578
Basé dur la dispo en Kg de protéines,1.261791e+10,180.324717

**8 070 616 000 personnes** pouvant être nourris avec cette disponibilité alimentaire mondiale en Kcal, soit **115.34 % de la population** en 2013.

**12 617 910 000 personnes** pouvant être nourris avec cette disponibilité alimentaire mondiale en Kg de protéines, soit **180.32 % de la population** en 2013.

### <span style="color:purple">Question 10 : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?</span>

In [46]:
# On supprime du DataFrame les valeurs des Provinces de Chine pour éviter les doublons (cf Question 1)
df_sousalimentation.drop(df_sousalimentation[df_sousalimentation.Zone.str.startswith("Chine,") == True].index, inplace=True)
df_sousalimentation.drop(df_sousalimentation[df_sousalimentation.Zone.str.startswith("Chine -") == True].index, inplace=True)
df_sousalimentation.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

In [47]:
df_sousalimentation_annee = df_sousalimentation.pivot_table(index = ['Code zone','Zone','Code Produit','Produit'],
                                                       columns = 'Année', values = 'Valeur', aggfunc = sum).reset_index()
df_sousalimentation_annee.head()

Année,Code zone,Zone,Code Produit,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,210011,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,210011,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,210011,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,210011,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
4,5,Samoa américaines,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0

L'étude étant basée sur la **population mondiale de l'année 2013**, nous prendrons comme base de calcul la moyenne sur la période 2012 - 2014

In [48]:
df_sousalimentation_annee['2012-2014'].unique()

array(['0.1', '7.9', '0.2', '1.7', 0, '8.1', '1.5', '<0.1', '26.1', '2.2',
       '0.5', '0.4', '6.6', '2', '2.3', '4.9', '0.6', '4.1', '1.8', '0.3',
       '1', '1.3', '3.9', '0.7', '1.6', '2.5', '5.2', '216.3', '22.6',
       '4.2', '9.1', '4.7', '0.9', '10', '2.8', '10.6', '1.2', '8.2',
       '3.2', '5.3', '1.4', '7', '1.1', '1.9', '13.4', '38.1', '0.8',
       '14', '3.6', '2.6', '16.4', '5.6', '12.6', '3.4', '2.1', '10.4',
       '25.3', '7.2', '8.3', '137.7'], dtype=object)

In [49]:
# On remplace les valeur de type <0.1
df_sousalimentation_annee.loc[df_sousalimentation_annee['2012-2014'] == '<0.1'] = 0

# Puis on passe la colonne en type numeric
df_sousalimentation_annee['2012-2014'] = df_sousalimentation_annee['2012-2014'].apply(pd.to_numeric)

In [50]:
population_sousnutrie = df_sousalimentation_annee['2012-2014'].sum()
print(int(population_sousnutrie*1000000),'de personnes sous-nutries pour 2013')

743800000 de personnes sous-nutries pour 2013

In [51]:
# On calcul le ratio de personnes sous-alimentées sur la population totale
ratio_sousnutries = ((population_sousnutrie * 1000000) / population_2013)*100

print('La proportion de la population mondiale considérée comme étant en sous-nutrition pour l\'année 2013 est de',round(ratio_sousnutries,3),'%.')

La proportion de la population mondiale considérée comme étant en sous-nutrition pour l'année 2013 est de 10.63 %.

### <span style="color:purple">Question 11 : En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?</span>

In [52]:
# Création d'une liste contenant toutes les céréales
liste_cereales = pd.Series(df_cereales['Produit'].unique())
liste_cereales

0                 Blé
1    Riz (Eq Blanchi)
2                Orge
3                Maïs
4              Millet
5              Seigle
6              Avoine
7              Sorgho
8    Céréales, Autres
dtype: object

In [53]:
# Mise à jour de la valeur de la nouvelle colonne is_cereal
df_bilan_alimentaire['is_cereal'] = df_bilan_alimentaire['Produit'].isin(liste_cereales)
df_bilan_alimentaire.sample(5)

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_cereal
3149,53,Bénin,2532,Manioc,2013,Vegetal,10323,1210.0,850.0,327.0,...,480.0,3696.0,NaN,NaN,NaN,1.232102e+12,9947242.80,1068.605087,0.862727,False
11985,193,Sao Tomé-et-Principe,2656,Bière,2013,Vegetal,193,NaN,NaN,14.0,...,NaN,NaN,NaN,NaN,0.0,9.862300e+08,11271.20,493.115000,0.563560,False
7603,118,Koweït,2555,Soja,2013,Vegetal,3369,NaN,NaN,0.0,...,NaN,NaN,NaN,0.0,0.0,0.000000e+00,36890.55,0.000000,0.000000,False
10224,158,Niger,2736,Abats Comestible,2013,Animal,17831,NaN,NaN,9.0,...,NaN,52.0,NaN,NaN,NaN,5.857484e+10,8981474.70,1126.439135,17.272067,False
13575,220,Trinité-et-Tobago,2633,Feve de Cacao,2013,Vegetal,1341,NaN,NaN,9.0,...,NaN,1.0,NaN,NaN,0.0,4.405185e+09,117471.60,2202.592500,5.873580,False

In [54]:
# Calcul du poids des aliments humain et nourriture animale 
part_cereales_animales = df_bilan_alimentaire[df_bilan_alimentaire['is_cereal'] == True]['Aliments pour animaux'].sum() 
part_nourriture_humaine = df_bilan_alimentaire[df_bilan_alimentaire['is_cereal'] == True]['Nourriture'].sum()

# Calcul du taux de nourriture animale
taux_nourriture_animale = (part_cereales_animales / (part_cereales_animales + part_nourriture_humaine))*100
print('La part de nourriture animale sur la part globale de céréales à destination humaine et animale est de',
      round(taux_nourriture_animale,2), '%')

La part de nourriture animale sur la part globale de céréales à destination humaine et animale est de 45.91 %

### <span style="color:purple">Question 12 : Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer).</span>

Après application des filtres énoncés dans le projet, il faut calculer ces 2 ratios :
- le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
- le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [55]:
# On génère la liste des pays sous-alimentés pour 2013
liste_pays_sousnutrition = pd.Series(df_sousalimentation_annee[df_sousalimentation_annee['2012-2014'] > 0]['Zone'].unique())
liste_pays_sousnutrition

0         Arménie
1     Afghanistan
2         Albanie
3         Algérie
4          Angola
         ...
90          Yémen
91         Zambie
92         Serbie
93         Soudan
94          Chine
Length: 95, dtype: object

In [56]:
# Séléction des données de ces pays ciblés
df_bilan_alim_pays_sousnutris = df_bilan_alimentaire[df_bilan_alimentaire['Zone'].isin(liste_pays_sousnutrition) == True]
df_bilan_alim_pays_sousnutris.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,origine,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_cereal
0,1,Arménie,2511,Blé,2013,Vegetal,2977,93.0,0.0,1024.0,...,32.0,312.0,30.0,10.0,-118.0,1.112684e+12,33163184.60,2860.368946,8.525240,True
1,1,Arménie,2513,Orge,2013,Vegetal,2977,137.0,26.0,0.0,...,15.0,189.0,14.0,7.0,0.0,0.000000e+00,0.00,0.000000,0.000000,True
2,1,Arménie,2514,Maïs,2013,Vegetal,2977,96.0,NaN,0.0,...,7.0,21.0,0.0,NaN,NaN,0.000000e+00,10866.05,0.000000,0.000000,True
3,1,Arménie,2515,Seigle,2013,Vegetal,2977,1.0,NaN,1.0,...,0.0,1.0,0.0,NaN,0.0,1.086605e+09,21732.10,0.000000,0.000000,True
4,1,Arménie,2516,Avoine,2013,Vegetal,2977,4.0,NaN,2.0,...,0.0,5.0,0.0,NaN,NaN,2.173210e+09,97794.45,2173.210000,9.779445,True

In [57]:
# Groupage par produits pour générer le top 15 des exportations
df_bilan_alim_sn_produits = df_bilan_alim_pays_sousnutris.groupby('Produit').sum().reset_index()
df_bilan_alim_sn_produits.head()

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_cereal
0,Abats Comestible,12247,259920,191235,5375164,57.0,414.0,688.0,226.12,21.24,...,18.0,10288.0,0.0,0.0,3.0,1.289070e+13,2.043742e+09,105054.562545,1668.566015,0.0
1,"Agrumes, Autres",10939,216962,167079,5214185,0.0,12.0,78.0,120.04,0.60,...,795.0,11538.0,0.0,72.0,46.0,2.362249e+12,5.039210e+07,4401.804349,12.423380,0.0
2,"Alcool, non Comestible",10682,220697,167079,5119017,0.0,6774.0,0.0,0.00,0.00,...,0.0,6739.0,0.0,0.0,229.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.0
3,Aliments pour enfants,12009,249240,187209,5348195,0.0,0.0,232.0,23.09,1.80,...,1.0,0.0,0.0,0.0,8.0,1.662269e+12,7.071839e+07,203135.233212,968.317489,0.0
4,Ananas,11748,235620,181170,5245180,0.0,1.0,353.0,379.51,1.19,...,2073.0,21441.0,0.0,8.0,337.0,4.256938e+12,3.647540e+07,23045.430915,15.085435,0.0

In [58]:
# Génération du top 15 des produits les plus exportés.
df_liste_produits_q12 = pd.DataFrame(affichage_top(df_bilan_alim_sn_produits,'Exportations - Quantité',15), 
                                  columns=['Produit', 'Exportations - Quantité'])
df_liste_produits_q12

                Produit  Exportations - Quantité
39       Huile de Palme                  46297.0
52                 Maïs                  37888.0
51               Manioc                  35923.0
79     Riz (Eq Blanchi)                  32798.0
83        Sucre Eq Brut                  25299.0
12                  Blé                  24917.0
49      Légumes, Autres                  19976.0
8               Bananes                  17822.0
25       Fruits, Autres                  15289.0
48   Lait - Excl Beurre                  14573.0
81                 Soja                  14408.0
73  Poissons Pelagiques                  13684.0
89              Tomates                   8904.0
75               Pommes                   7847.0
61  Oranges, Mandarines                   6917.0

In [59]:
liste_produits_q12 = pd.Series(df_liste_produits_q12['Produit'].unique())

In [60]:
# Dataframe des 200 plus importantes importations sur ces produits
df_bilan_alim_top15_export = df_bilan_alimentaire[df_bilan_alimentaire.Produit.isin(liste_produits_q12) == True]
df_bilan_alim_top15_export = affichage_top(df_bilan_alim_top15_export,'Importations - Quantité',200)

In [61]:
# Group by Produits pour obtenir 1 ligne par produit
df_bilan_alim_top15_export = df_bilan_alim_top15_export.groupby('Produit').sum().reset_index()
df_bilan_alim_top15_export

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire totale (Kcal),Disponibilité alimentaire protéines totale (Kg),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_cereal
0,Bananes,979,13075,10065,620100,0.0,0.0,89.0,53.45,0.29,...,344.0,7.0,0.0,0.0,0.0,4.281632e+12,5.223482e+07,3033.521603,3.685994,0.0
1,Blé,6356,110484,88572,4363513,98715.0,15125.0,31770.0,4082.84,138.50,...,16167.0,423424.0,20672.0,5976.0,-6639.0,8.849359e+14,2.723236e+10,124138.894863,371.578038,44.0
2,"Fruits, Autres",1176,18375,14091,2125136,0.0,12.0,236.0,195.58,3.48,...,4415.0,64090.0,0.0,1657.0,78.0,2.908221e+13,3.578647e+08,3100.557728,4.147935,0.0
3,Huile de Palme,1532,25770,20130,3564716,0.0,18726.0,756.0,32.09,85.43,...,224.0,19446.0,0.0,3.0,-698.0,5.976857e+13,8.331778e+06,69659.230629,1.810603,0.0
4,Lait - Excl Beurre,4282,79744,56364,3474122,29133.0,12479.0,6225.0,4494.08,359.74,...,5126.0,360237.0,0.0,155.0,1629.0,1.816144e+14,1.080440e+10,14944.848413,91.210537,0.0
5,"Légumes, Autres",1914,31260,24156,2390396,39562.0,19.0,935.0,1242.77,7.65,...,45199.0,583121.0,30.0,160.0,17.0,1.237913e+14,6.814121e+09,3360.163128,15.707187,0.0
6,Manioc,785,10128,8052,1782807,25153.0,20355.0,178.0,61.96,0.36,...,4759.0,58765.0,0.0,1804.0,63.0,1.611941e+13,9.311920e+07,3316.798431,1.910220,0.0
7,Maïs,3965,67878,54351,3204337,402887.0,182118.0,4652.0,582.94,40.19,...,18270.0,675213.0,3148.0,38735.0,-45340.0,1.621406e+14,3.799454e+09,76210.714301,169.439952,27.0
8,"Oranges, Mandarines",1230,20888,16104,736332,0.0,1.0,175.0,275.78,0.52,...,341.0,7534.0,0.0,0.0,-957.0,5.100008e+12,8.905488e+07,2078.755887,3.450407,0.0
9,Poissons Pelagiques,1077,16578,12078,1872207,13097.0,40.0,115.0,36.16,5.02,...,0.0,7764.0,0.0,0.0,172.0,4.615210e+12,6.382980e+08,6384.041544,83.965330,0.0
10,Pommes,834,13085,10065,736140,0.0,0.0,105.0,103.62,0.64,...,608.0,8551.0,0.0,426.0,209.0,5.741394e+12,1.969850e+07,1866.774122,0.822718,0.0
11,Riz (Eq Blanchi),1662,25245,18117,1836295,12709.0,2817.0,4363.0,439.39,9.51,...,7131.0,143974.0,4847.0,13.0,-5535.0,4.644706e+14,8.484943e+09,32683.163915,62.094571,9.0
12,Soja,2269,35770,28182,2859560,13710.0,525.0,239.0,26.30,9.63,...,1779.0,107387.0,3596.0,132454.0,-4.0,2.586478e+13,2.428981e+09,25580.672124,345.515955,0.0
13,Sucre Eq Brut,2310,40672,32208,4058924,0.0,3009.0,3886.0,398.11,0.00,...,64.0,55747.0,0.0,10425.0,-4594.0,2.351544e+14,0.000000e+00,57063.619757,0.000000,0.0
14,Tomates,792,13005,10065,673287,0.0,0.0,65.0,126.30,0.73,...,1026.0,16053.0,0.0,0.0,452.0,3.677050e+12,1.701239e+08,952.003076,4.471741,0.0

In [62]:
# Calcul des 2 ratios
df_bilan_alim_top15_export['Ratio autres utilisations / dispo intérieure'] = (df_bilan_alim_top15_export['Autres utilisations (non alimentaire)']
                                                                            / df_bilan_alim_top15_export['Disponibilité intérieure'])

df_bilan_alim_top15_export['Ratio nourriture animale / nourriture totale'] = (df_bilan_alim_top15_export['Aliments pour animaux']
                                                                            / (df_bilan_alim_top15_export['Nourriture']
                                                                              + df_bilan_alim_top15_export['Aliments pour animaux']))

In [63]:
df_bilan_alim_top15_export[['Produit','Disponibilité intérieure','Nourriture','Autres utilisations (non alimentaire)',
                           'Aliments pour animaux', 'Ratio autres utilisations / dispo intérieure',
                           'Ratio nourriture animale / nourriture totale']]

Élément,Produit,Disponibilité intérieure,Nourriture,Autres utilisations (non alimentaire),Aliments pour animaux,Ratio autres utilisations / dispo intérieure,Ratio nourriture animale / nourriture totale
0,Bananes,7466.0,7123.0,0.0,0.0,0.000000,0.000000
1,Blé,460327.0,303720.0,15125.0,98715.0,0.032857,0.245294
2,"Fruits, Autres",74524.0,68484.0,12.0,0.0,0.000161,0.000000
3,Huile de Palme,25865.0,6922.0,18726.0,0.0,0.723990,0.000000
4,Lait - Excl Beurre,378021.0,332010.0,12479.0,29133.0,0.033011,0.080669
5,"Légumes, Autres",590675.0,505757.0,19.0,39562.0,0.000032,0.072548
6,Manioc,67341.0,15268.0,20355.0,25153.0,0.302268,0.622276
7,Maïs,701104.0,55950.0,182118.0,402887.0,0.259759,0.878061
8,"Oranges, Mandarines",19534.0,19192.0,1.0,0.0,0.000051,0.000000
9,Poissons Pelagiques,17190.0,4052.0,40.0,13097.0,0.002327,0.763718
10,Pommes,15592.0,14557.0,0.0,0.0,0.000000,0.000000
11,Riz (Eq Blanchi),151751.0,124236.0,2817.0,12709.0,0.018563,0.092804
12,Soja,159593.0,7532.0,525.0,13710.0,0.003290,0.645419
13,Sucre Eq Brut,79321.0,65823.0,3009.0,0.0,0.037934,0.000000
14,Tomates,21277.0,20252.0,0.0,0.0,0.000000,0.000000

In [64]:
# Sortir les top 3 pour chaque ratio
df_bilan_alim_top15_export_light = pd.DataFrame(df_bilan_alim_top15_export, columns = ['Produit','Ratio autres utilisations / dispo intérieure',
                                                                                      'Ratio nourriture animale / nourriture totale'])
df_bilan_alim_top15_export_light.sort_values(by=['Ratio autres utilisations / dispo intérieure'], ascending = False).head(3)

,Produit,Ratio autres utilisations / dispo intérieure,Ratio nourriture animale / nourriture totale
3,Huile de Palme,0.723990,0.000000
6,Manioc,0.302268,0.622276
7,Maïs,0.259759,0.878061

In [65]:
df_bilan_alim_top15_export_light.sort_values(by=['Ratio nourriture animale / nourriture totale'], ascending = False).head(3)

,Produit,Ratio autres utilisations / dispo intérieure,Ratio nourriture animale / nourriture totale
7,Maïs,0.259759,0.878061
9,Poissons Pelagiques,0.002327,0.763718
12,Soja,0.003290,0.645419

**Pour le ratio autres utilisations sur disponibité intérieure, le top 3 est :**
- <span style="color: green">Huile de Palme</span>
- <span style="color: green">Manioc</span>
- <span style="color: green">Maïs</span>

**Pour le ratio nourriture animale sur nourriture totale, le top 3 est :**
- <span style="color: green">Maïs</span>
- <span style="color: green">Poissons Pelagiques</span>
- <span style="color: green">Soja</span>

### <span style="color:purple">Question 13 : Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?</span>

In [66]:
part_cereales_animaux_usa = df_bilan_alimentaire[(df_bilan_alimentaire['is_cereal'] == True) 
                                                 & (df_bilan_alimentaire['Zone'] == 'États-Unis d\'Amérique')]['Aliments pour animaux'].sum()

In [67]:
# 10% de la part des produits animaux en céréales des USA (En tonnes) -> (part_cereales_animaux_usa * 1000)*0.1
print('{:,}'.format(int(part_cereales_animaux_usa * 100)).replace(',', ' '), 'de tonnes pourraient être libérées si les USA diminuaient leur production de produits animaux de 10%.')

14 009 600 de tonnes pourraient être libérées si les USA diminuaient leur production de produits animaux de 10%.

### <span style="color:purple">Question 14 : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition ?</span>

In [68]:
# Séléction des données :
df_bilan_Thailande_manioc = df_bilan_alimentaire[(df_bilan_alimentaire['Zone'] == 'Thaïlande') & (df_bilan_alimentaire['Produit'] == 'Manioc')]

In [69]:
thailande_manioc_export = (df_bilan_Thailande_manioc['Exportations - Quantité'] 
                          / (df_bilan_Thailande_manioc['Disponibilité intérieure'] + df_bilan_Thailande_manioc['Exportations - Quantité'])
                          ) * 100
thailande_manioc_export

13344    80.100388
dtype: float64

<span style="color: green">La Thaïlande exporte en 2013 **80,10 %** de son Manioc.</span>

In [70]:
tx_sous_nutris_thailande = (float(df_sousalimentation_annee[df_sousalimentation_annee['Zone'] == 'Thaïlande']['2012-2014'])
                            / float(df_bilan_Thailande_manioc['Population']/1000))*100
tx_sous_nutris_thailande

8.356836937219263

<span style="color: green">La proportion de personnes en sous-nutrition en Thailande est de **8,35%** de la population totale du pays en 2013.</span>

## Exportation des DataFrames pour intégration MySql

In [71]:
def suppr_chine(fc_dataframe):
    fc_dataframe.drop(fc_dataframe[fc_dataframe.Zone.str.startswith("Chine,") == True].index, inplace=True)
    fc_dataframe.drop(fc_dataframe[fc_dataframe.Zone.str.startswith("Chine -") == True].index, inplace=True)
    
    return print('Supression des provinces de Chine effectuée')

In [72]:
# Population
suppr_chine(df_population)
df_population_export = df_population[['Zone','Code zone','Année','Valeur']]
df_population_export['Valeur'] = df_population_export['Valeur']*1000
df_population_export = df_population_export.rename(columns = {'Zone':'pays', 'Code zone':'code_pays', 'Année':'annee', 'Valeur':'population'})
df_population_export.to_csv("exports/population.csv", index = False)

Supression des provinces de Chine effectuée

In [73]:
# dispo_alim (pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr)
df_dispo_alim_export = df_bilan_alimentaire[['Zone','Code zone','Année','Produit', 'Code Produit', 'origine', 'Population', 'Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité alimentaire (Kcal/personne/jour)',
                                             'Disponibilité de protéines en quantité (g/personne/jour)', 'Disponibilité de matière grasse en quantité (g/personne/jour)']]
# Calcul de la dispo alimentaire en Tonnes
df_dispo_alim_export['Disponibilité alimentaire en quantité (kg/personne/an)'] = ((df_dispo_alim_export['Disponibilité alimentaire en quantité (kg/personne/an)']
                                                                                 * (df_dispo_alim_export['Population']*1000) * 365)/1000)
df_dispo_alim_export.drop('Population', axis='columns', inplace=True)
df_dispo_alim_export = df_dispo_alim_export.rename(columns = {'Zone':'pays','Code zone':'code_pays','Année':'annee','Produit':'produit', 'Code Produit':'code_produit', 
                                       'origine':'origin', 'Disponibilité alimentaire en quantité (kg/personne/an)':'dispo_alim_tonnes', 
                                       'Disponibilité alimentaire (Kcal/personne/jour)':'dispo_alim_kcal_p_j', 
                                       'Disponibilité de protéines en quantité (g/personne/jour)':'dispo_prot', 
                                       'Disponibilité de matière grasse en quantité (g/personne/jour)':'dispo_mat_gr'})
df_dispo_alim_export.to_csv('exports/dispo_alim.csv', index=False)

In [74]:
# Export du dataframe equilibre_prod (pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, pertes, 
#transfo, nourriture, autres_utilisations)

df_equilibre_prod_export = df_bilan_alimentaire[['Zone', 'Code zone', 'Année', 'Produit','Code Produit', 'Disponibilité intérieure',
                                                'Aliments pour animaux', 'Semences', 'Pertes', 'Traitement', 'Nourriture', 
                                                 'Autres utilisations (non alimentaire)']]
df_equilibre_prod_export = df_equilibre_prod_export.rename(columns = {'Zone':'pays', 'Code zone':'code_pays', 'Année':'annee',  'Produit':'produit',
                                                                      'Code Produit':'code_produit', 'Disponibilité intérieure':'dispo_int',
                                                                      'Aliments pour animaux':'alim_ani', 'Semences':'semences', 'Pertes':'pertes',
                                                                      'Traitement':'transfo', 'Nourriture':'nourriture', 
                                                                      'Autres utilisations (non alimentaire)':'autres_utilisations'})

In [75]:
# Conversion des unités "Millier de tonnes" en Tonnes
df_equilibre_prod_export.loc[:, ['dispo_int', 'alim_ani', 'semences', 'pertes', 'transfo', 'nourriture','autres_utilisations']]*=1000

In [76]:
df_equilibre_prod_export.to_csv('exports/equilibre_prod.csv', index=False)

In [77]:
# sous_nutrition, contenant le nombre de personnes en sous-alimentation pour chaque pays en 2013. 
# Elle devra contenir 4 colonnes : pays, code_pays, année, nb_personnes
suppr_chine(df_sousalimentation_annee)
df_sous_nutrition_export = df_sousalimentation_annee[['Zone','Code zone','2012-2014']]
df_sous_nutrition_export.loc[:,'annee'] = 2013
df_sous_nutrition_export = df_sous_nutrition_export.rename(columns = {'Zone':'pays', 'Code zone':'code_pays', '2012-2014':'nb_personnes'})
df_sous_nutrition_export = df_sous_nutrition_export[['pays','code_pays','annee','nb_personnes']]
# Population en million de personnes
df_sous_nutrition_export.loc[:, 'nb_personnes'] *= 1000000

Supression des provinces de Chine effectuée

In [78]:
df_sous_nutrition_export.head()

Année               pays  code_pays  annee  nb_personnes
0                Arménie          1   2013      100000.0
1            Afghanistan          2   2013     7900000.0
2                Albanie          3   2013      200000.0
3                Algérie          4   2013     1700000.0
4      Samoa américaines          5   2013           0.0

In [79]:
df_sous_nutrition_export[df_sous_nutrition_export['code_pays'] > 0].to_csv('exports/sous_nutrition.csv', index=False)